.hide {
    display: none;
}

header {
    padding: 15px;
}

section {
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
}

li {
    list-style: none;
    text-align: left;
    padding-bottom: 5px;
}

li button {
    background-color: rgb(49, 0, 49);
    color: white;
    border-radius: 5px;
    width: 30%;
    text-align: left;
}

li button:hover {
    background-color: violet;
    cursor: pointer;
}

#timer {
    float: right;
}

#start-button,
#view-scores,
#submit-score,
#go-back,
#clear-scores {
    background-color: white;
    border-radius: 5px;
}

#start-button:hover,
#view-scores:hover,
#submit-score:hover,
#go-back:hover,
#clear-scores:hover {
    background-color: aqua;
    cursor: pointer;
}

#intro-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}